<div id="main-content" class="card">
  {{#isSignupDevice}}
    <div class="success visible">{{#t}}This Firefox is connected{{/t}}</div>
  {{/isSignupDevice}}
  {{^isSignupDevice}}
    <div class="success visible">{{#t}}Email confirmed{{/t}}</div>
  {{/isSignupDevice}}

    <section>
      <div class="graphic graphic-connect-another-device">{{#t}}Success{{/t}}</div>

      <p>{{#t}}Continue set-up by sending Firefox directly to your smartphone.{{/t}}</p>

      <form novalidate>
        <div class="input-row sms-row">
          <input class="phone-number" type="text" placeholder="{{#t}}Mobile phone number{{/t}}" required autofocus="autofocus" />
          <button type="submit" class="sms-send disabled">Send</button>
        </div>
      </form>
    </section>
    <div class="marketing-area"></div>
    <div class="sms-disclaimer">
      {{#unsafeTranslate}}SMS service available to U.S. phone numbers only. SMS &amp; data rates may apply. The intended recipient of the email or SMS must have consented. <a %(escapedLearnMoreAttributes)s>Learn more</a>{{/unsafeTranslate}}
</div>

